[submodule "PHPExcel"]
	path = PHPExcel
	url = ssh://git@lamiral.mecaprotec.fr:serviceInfo/PHPExcel_local.git

[submodule "pdooci"]
	path = pdooci
	url = ssh://git@lamiral.mecaprotec.fr:serviceInfo/pdooci_local.git
