[submodule "PHPExcel"]
	path = PHPExcel
	url = http://lamiral.mecaprotec.fr/serviceInfo/PHPExcel_local.git

[submodule "pdooci"]
	path = pdooci
	url = http://lamiral.mecaprotec.fr/serviceInfo/pdooci_local.git
