table {
	border-collapse: collapse;
	text-align: center;
}

tr {

}

tr:not(:first-child):hover {
	background-color: #ccc;
}

th {

}

td {
	border: 1px solid white;
	padding: 5px 15px;
}

.gris {
	background-color: grey;
}

.orange {
	background-color: orange;
}

#pagination td {
	border: none;
	padding: 5px;
}
#pagination tr:hover {
	background-color: white;
}