table {
	border-collapse: collapse;
	text-align: center;
}

tr {

}

tr:not(:first-child):hover {
	background-color: #ccc;
}

th {
	text-decoration: none;
}

th > a.titre-colonnes {
	color: black;
}

th > a.masque {
	margin: 0 3px;
	color: red;
}

th > a.masque:visited {
	color: red;
}

td {
	border: 1px solid white;
	padding: 5px 15px;
}

.gris {
	background-color: grey;
}

.orange {
	background-color: orange;
}

#pagination td {
	border: none;
	padding: 5px;
}
#pagination tr:hover {
	background-color: white;
}